

:root{
    --bkg1: rgb(255, 255, 255);
    --accent: rgb(255, 255, 255);
    --words1:rgb(0, 0, 0);
    --words2: rgb(223, 67, 101);
    --scrollbar1: rgba(223, 67, 101, 0.493);
    --scrollbar2: rgba(223, 67, 101, 0.774);

}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95vw;
    height: 95vh;
    background-color: var(--bkg1);
    display: grid;
    grid-template-columns: 20vw 70vw;
    grid-column-gap: 5vw;

}

h1 {
    font-size: 50pt;
    padding-left: 2vw;
    color: var(--words2);
    line-height: 10px;

}

h2 {
    font-size: 50pt;
    color: var(--words2);
    line-height: 55pt;
    padding-left: 2vw;
}

h3 {
    font-size: 20pt;
    color: var(--words1);
    line-height: 25pt;
    padding-left: 2vw;
    font-weight: 500;

}

p {
    margin-left: 50px;
    font-size: 24pt;
    font-weight: 700;
}

a {
    color: var(--words1);
    display: flex;
    flex-flow: row;
    padding-left: 6vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition-duration: 2s;
    border-bottom: 2px solid var(--words2);
    align-items: center;
    height: fit-content;
    text-decoration-color: var(--words2);
}

a:visited {
    color: var(--words1);
}

img {

    object-fit: cover;
    width: 200px;
    height: 200px;
    transition-duration: 2s;
}


menu {
    height: 90vh;
    display: flex;
    flex-flow: row wrap;

}

.tab {
    width: 18%;
    border-left: 2px solid var(--words2);
    text-align: left;
    writing-mode: vertical-lr;
    text-orientation: upright;
    height: 40%;
    color: var(--words2);
    transition: border-left 0.5s, height 2s;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 500;
}

.tab:hover {
    border-left: 2px solid var(--words1);
    color: var(--words1);

}

main {
    margin-top: 15px;
    height: 90vh;
    overflow-y: auto;
    background-color: var(--accent);
    border: 2px solid var(--words2);

}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--words2); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar1); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar2); 
  }
.elem {
    display: none; 
}

.show{
    display:flex;
    flex-flow: column nowrap;
}

@media only screen and (min-width: 450px) and (max-width: 700px) {

    body{

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20vh 70vh;
        grid-row-gap: 8vh;
        overflow-x: hidden;
        width: 100vw;
        animation-play-state: running;
        transition: animation-play-state 1s;
        animation-name: colorchange;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-fill-mode: backwards;
}


    menu {

        position: sticky;
        top: 2vh;
        height: 20vh;
        width: 95vw;
        display: flex;
        flex-flow: row wrap;


    }

    main {
        position: sticky;
        width: 95%;
        height: 95%;
        background-color: var(--accent);
        overflow-y: auto;
        border: 2px solid var(--words1);
        margin: 0 auto;
    }

    img {
        margin-left: 3vw;
        object-fit: cover;
        width: 30vw;
        height: 30vw;
        transition-duration: 2s;
    }
    

    .tab {
        width: 15%;
        padding-left: 1%;
        margin-left: 1%;
        margin-right: 1%;
        border-left: 2px solid var(--words2);
        text-align: left;
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        height: 40%;
        color:var(--words2);
        transition: border-left 0.5s, height 2s;
        cursor: pointer;
        font-size: 10pt;
        font-weight: 600;
    
    }

        h1 {
        font-size: 30pt;
        padding-left: 2vw;
        color: var(--words2);
        line-height: 10px;
    
    }
    
    h2 {
        font-size: 25pt;
        color: var(--words2);
        line-height: 40pt;
        padding-left: 2vw;
    }
    
    h3 {
        font-size: 15pt;
        color: var(--words1);
        line-height: 25pt;
        padding-left: 2vw;
    }
    
    p {
        margin-left: 50px;

        display: flex;
        flex-flow: row nowrap;
        font-size: 15pt;
        padding-left: 6vw;
        padding-bottom: 2vh;
        font-weight: 900;
        color: var(--words1);
        transition-duration: 2s;
    }
    
    p:hover {
        font-size: 20pt;
    }    


}
/*specify range with more than one media query */
@media only screen and (min-width: 0px) and (max-width: 450px){

    .content iframe {
        margin-left: 2vw;
      }
      

    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10vh 83vh;
        grid-row-gap: 5vh;
        width: 100vw;
        animation-play-state: running;
        transition: animation-play-state 1s;
        animation-name: colorchange;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-fill-mode: backwards;
    }

    menu {

        position: sticky;
        top: 2vh;
        height: 10vh;
        width: 95vw;
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    main {
        position: sticky;
        width: 95vw;
        height: 100%;
        background-color: var(--accent);
        overflow-y: auto;
        border: 2px solid var(--words1);
        margin-left: auto;



    }

    img {
        margin-left: 3vw;
        object-fit: cover;
        width: 30vw;
        height: 30vw;
        transition-duration: 2s;
    }
    

    .tab {
        width: 17%;
        padding-left: 1%;
        border-left: 2px solid var(--words2);
        text-align: left;
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        height: 40%;
        color: var(--words2);
        transition: border-left 0.5s, height 2s;
        cursor: pointer;
        font-size: 10pt;
        font-weight: 600;
    }

    h1 {
        font-size: 30pt;
        padding-left: 2vw;
        color: var(--words2);
        line-height: 10px;
    
    }
    
    h2 {
        font-size: 25pt;
        color: var(--words2);
        line-height: 40pt;
        padding-left: 2vw;
    }
    
    h3 {
        font-size: 15pt;
        color: var(--words1);
        line-height: 25pt;
        padding-left: 2vw;
    }
    
    p {
        margin-left: 50px;

        display: flex;
        flex-flow: row nowrap;
        font-size: 15pt;
        padding-left: 6vw;
        padding-bottom: 2vh;
        font-weight: 900;
        color: var(--words1);
        transition-duration: 2s;
    }
    
    p:hover {
        font-size: 20pt;
    }    
}
